<main>
    <h1><%- title %></h1>
    <p>Universidade: </p>
    <div class="CInput">
        <i class="fa-solid fa-school"></i>
        <input placeholder="Ex.: UFU">
    </div>

    <p>Ano: </p>
    <div class="CInput">
        <i class="fa-solid fa-school"></i>
        <input placeholder="Ex.: 2023">
    </div>

    <p>Temporada: </p>
    <div class="CInput">
        <i class="fa-solid fa-school"></i>
        <input placeholder="Ex.: 2, Inverno, Verão">
    </div>

    <p>Número da questão: </p>
    <div class="CInput">
        <i class="fa-solid fa-school"></i>
        <input placeholder="Ex.: 1,2,3">
    </div>

    <p>Questão:</p>
    <div id="questao">
    </div>

    <p>Altenativas:</p>
    <div id="alternativas">
    </div>

    <button>Adicionar Tag</button>

    <p>Tags:</p>
    <ul></ul>
    <div class="CInput">
        <i class="fa-solid fa-school"></i>
        <input placeholder="Ex.: 2, Inverno, Verão">
    </div>

    <button>Registrar</button>
</main>
  