<main>
    <div class="Login">
        <h1><%- title %></h1>
        <div class="CInput">
            <i class="fa-solid fa-school"></i>
            <input placeholder="Username">
        </div>
        <div class="CInput">
            <i class="fa-solid fa-school"></i>
            <input placeholder="Senha">
        </div>
        <button>Login</button>
    </div>
</main>
  